# Importing Data

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/data.csv')

In [3]:
data.head(10)

   Unnamed: 0       ID  sas_pred  TransactionID  xgboost_pred  isFraud
0           0  2987006   0.01276        2987006      0.009477        0
1           1  2987011   0.01111        2987011      0.011886        0
2           2  2987018   0.00869        2987018      0.003172        0
3           3  2987031   0.00848        2987031      0.006850        0
4           4  2987037   0.00825        2987037      0.002263        0
5           5  2987039   0.00869        2987039      0.004235        0
6           6  2987094   0.02696        2987094      0.012458        0
7           7  2987137   0.00669        2987137      0.000824        0
8           8  2987170   0.01192        2987170      0.015553        0
9           9  2987196   0.06270        2987196      0.010076        0

In [4]:
data.shape

(35433, 6)

In [5]:
data = data.drop(['Unnamed: 0', 'ID', 'TransactionID'], axis = 1)

**'Unnamed: 0', 'ID', 'TransactionID' don't provide us any useful info so we can drop them**

In [6]:
data.head()

   sas_pred  xgboost_pred  isFraud
0   0.01276      0.009477        0
1   0.01111      0.011886        0
2   0.00869      0.003172        0
3   0.00848      0.006850        0
4   0.00825      0.002263        0

______________________________________________

# Data

In [7]:
data.isFraud.value_counts()

0    34193
1     1240
Name: isFraud, dtype: int64

**1240 cases of Fraud**  
**34193 cases of no Fraud**

In [8]:
data.isFraud.value_counts(normalize = True)

0    0.965004
1    0.034996
Name: isFraud, dtype: float64

**No Fraud = 96.50% of the data**  
**Fraud = 3.5% of the data**

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35433 entries, 0 to 35432
Data columns (total 3 columns):
sas_pred        35433 non-null float64
xgboost_pred    35433 non-null float64
isFraud         35433 non-null int64
dtypes: float64(2), int64(1)
memory usage: 830.5 KB

In [10]:
data.describe()

           sas_pred  xgboost_pred       isFraud
count  35433.000000  35433.000000  35433.000000
mean       0.034799      0.033557      0.034996
std        0.087799      0.107093      0.183771
min        0.004710      0.000298      0.000000
25%        0.008920      0.003864      0.000000
50%        0.012160      0.008842      0.000000
75%        0.021900      0.019882      0.000000
max        0.945560      0.999302      1.000000

In [11]:
data.dtypes

sas_pred        float64
xgboost_pred    float64
isFraud           int64
dtype: object